@import './reset';
@import './fonts';


.container {
  width: 1400px;

  @media screen and (max-width: 1400px){
    & {
      width: 100%;
    }
  }
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.rokkit {
  font-family: 'Rokkitt', serif;
}

.btn {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  width: 560px;
  padding: 35px 100px;
  background-color: #B33F25;
  color: #fff;
  text-align: center;
  border: none;
  align-self: center;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    color: rgb(230, 153, 53);
  }
}